<!-- <div id="social" class="d-flex flex-row justify-content-around px-md-5 py-1 align-items-center">
    <a class="noSelect" href="https://www.facebook.com/lebaagra/">
        <img src="../assets/social/facebook-icon.png" alt="facebook">
    </a>
    <a class="noSelect" href="index.html">
        <img src="../assets/logo/agra_logo.png" alt="agra_logo">
    </a>
    <a class="noSelect"
        href="https://www.google.com/maps/place/Agra+Zielony+Ogrod/@54.7594252,17.5521492,15z/data=!4m8!3m7!1s0x46fe7833a601b577:0x276efb8998e16513!5m2!4m1!1i2!8m2!3d54.762329!4d17.556752">
        <img src="../assets/social/googlemaps-icon.png" alt="google-maps">
    </a>
</div> -->
<!-- <div #links id="links" class="row">
    <div id="map" class="col-md-12 col-sm-12">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="100%"
                    src="https://maps.google.com/maps?q=Agra%20Zielony%20Ogr%C3%B3d+(Zielony%20Ogr%C3%B3d)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=B&amp;output=embed"
                    frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div> -->
<footer class="d-flex flex-column align-items-end py-4 text-light">
    <small class="mt-4 d-flex flex-column">
        <div class="text-right mr-2 mt-4">Wszystkie prawa zastrzeżone © Celmarr 2021</div>
        <div id="small_menu" class="d-flex flex-wrap justify-content-end mr-2">
            <a class="d-block user-select-none text-light px-1" routerLink="/">Start</a>
            <a class="d-block user-select-none text-light px-1" routerLink="/gallery">Galeria</a>
            <a class="d-block user-select-none text-light text-nowrap px-1" routerLink="/virtualwalk">Wirtualny spacer</a>
            <a class="d-block user-select-none text-light px-1" routerLink="/contact">Kontakt</a>
            <a class="d-block user-select-none text-light text-nowrap px-1" routerLink="/policy">Polityka prywatności</a>
        </div>
    </small>
</footer>