<main>
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!4v1611841377079!6m8!1m7!1sCAoSLEFGMVFpcFBpNFktQUdHOU9BU2hpY2JxMENRLWRMUDhkZjJtZmJpcVlYRmlG!2m2!1d54.762303044168!2d17.557259355806!3f279.28!4f-6.829999999999998!5f0.5970117501821992"
                    width="100%" height="630" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</main>