<main>
    <div class="container mt-2">
        <div class="row text-justify">
            <div class="col-md-1 d-none d-lg-block">
                <img src="../assets/others/line_1.png" alt="ozdobnik">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-center">Cennik</h3>
                        <p><b>Prosimy o kontakt telefoniczny</b> </p>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center">Telefon</h3>
            
                    <p>Joanna Grabowska</p>
                    <p>tel.kom. 609-474-272</p>
                    <p>tel/fax 59 8661-649</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <h3 class="text-center">Bank</h3>
                        <p>BANK PEKAO SA</p>
                        <p>I O/LĘBORK</p>
                        <p>98 1240 3800 1111 0000 4463 3659</p>
                        <p>BIC KOD:PL</p>
                        <p>SWIFT KOD: PKOPPLPW</p>
                
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center">Adres</h3>
                            <p>Łeba 84-360</p>
                            <p>ul.Wojska Polskiego 17</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 d-none d-lg-block">
                <img src="../assets/others/line_2.png" alt="ozdobnik">
            </div>
        </div>
    </div>
    
    <!-- 
    <div  class="column info_width">
        <div id="info" class="column col_to_row">
            <img src="../assets/others/line_1.png" alt="ozdobnik">
            <div class="column contact_width">
                <h2>Cennik</h2>
                <div class="contact_info" >
                    <p><b>Prosimy o kontakt telefoniczny</b> </p>
                    <p style="display:none"><b>Maj Czerwiec</b>    od 45zł</p>
                    <p style="display:none"><b>Lipiec Sierpień</b>    od 75zł</p>
                    <p style="display:none"><b>Wrzesień</b>    od 45zł</p>
                    <div style="display:none">
                        <p> Cena za 1 osobę.</p>
                    </div>
                    <p></p>
                </div>
                <h2>Bank</h2>
                <div class="contact_info">
                        <p>BANK PEKAO SA</p>
                        <p>I O/LĘBORK</p>
                        <p>98 1240 3800 1111 0000 4463 3659</p>
                        <p>BIC KOD:PL</p>
                        <p>SWIFT KOD: PKOPPLPW</p>
                    </div>
                </div>
            <div class="column contact_width">
                <h2>Telefon</h2>
                <div class="contact_info">
                    <p>Joanna Grabowska</p>
                    <p>tel.kom. 609-474-272</p>
                    <p>tel/fax 59 8661-649</p>
                </div>
                <h2>Adres</h2>
                <div class="contact_info">
                    <p>Łeba 84-360</p>
                    <p>ul.Wojska Polskiego 17</p>
                </div>
            </div>
            <img src="../assets/others/line_2.png" alt="ozdobnik">
        </div>
    </div> -->
</main>