<nav>
  <input type="checkbox" id="toggle" />
  <a id="nav-logo" routerLink="/">
    <img src="../../assets/logo/logo.png" alt="Celmarr logo">
  </a>
  <div id="nav-bar">
    <a href="tel:+48605044043">
      +48 605 044 043
    </a>
    <label id="nav-toggle" for="toggle">≡</label>
  </div>
  
  <div id="nav-links">
    <a routerLink="/">Start</a>
    <a routerLink="/gallery">Galeria</a>
    <a routerLink="/virtual">Wirtualny spacer</a>
    <a routerLink="/contact">Kontakt</a>
  </div>
</nav>

<!-- test -->
<ng-template #template>
  <h2>You cant see mee</h2>
</ng-template>