main{
	position: relative;
	top:3em;
	margin-bottom: 5em;
	
}
.main-about{
	text-shadow: 1px 1px 2px white;
}
.main-photo>img{
	max-width: 100%;
}
@media only screen and (min-width: 900px) {
	#main-photo>img{
		max-width: auto;
	}
main{
	position: relative;
	top:3.5em;
	margin-bottom: 6em;
}

}