<main>
    <div class="container mt-2">
        <div class="row text-justify">
            <div class="col-md-6 main-photo">
                <img src="../../assets/home/(1).jpg" alt="Pokój celmarr">
            </div>
            <div class="col-md-6 my-auto py-2 main-about">
                <h3 class="">O nas</h3>
                <p>Pensjonat położony jest w zacisznej i kameralnej części Łeby, bardzo blisko plaży. Położenie w tym
                    miejscu sprawia, iż pobyt u nas jest prawdziwym wypoczynkiem z dala od zgiełku i gwaru, jaki ma
                    miejsce w sezonie letnim w Łebie.</p>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row text-justify">
            <div class="col-md-6 my-auto main-about">
                <p>Do Państwa dyspozycji oddajemy pokoje 2-, 3-osobowe z własną łazienką (pełen węzeł sanitarny), TV-sat, lodówką, czajnikiem bezprzewodowym, sprzętem plażowym, internetem WiFi oraz ogólnodostępnym aneksem kuchennym.</p>
            </div>
            <div class="col-md-6 main-photo">
                <img src="../../assets/home/(2).jpg" alt="Pokój celmarr">
            </div>
            
        </div>
    </div>
</main>