<main>
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <h3>Informacja o ochronie danych osobowych</h3>
                <p> Właściciel firmy CELMARR dokłada wszelkich starań, aby chronić prywatność swoich Klientów i
                    przetwarzać ich dane osobowe zgodnie z wymogami obowiązującego prawa. W tym w szczególności,
                    zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z 27 kwietnia 2016 r. w
                    sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
                    swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE [zwanym dalej "RODO"].</p>
                <p>Wypełniając nasz obowiązek informacyjny, prosimy cię drogi Kliencie o zapoznanie się z treścią
                    poniższych informacji.</p>

                <h4>Administrator danych osobowych</h4>
                <p>Administratorem Państwa danych osobowych jest Celina Grabowska CELMARR EUROCAMP.</p>
                <p>Kontakt z administratorem jest możliwy drogą pisemną na następujący adres: ul. Wojska Polskiego
                    17b, 84-360, Łeba.</p>

                <h4>Cel i podstawa prawna przetwarzania danych osobowych</h4>
                <p>Przetwarzamy Państwa dane osobowe w związku z realizacją świadczonych przez nas usług oraz w
                    związku z rozliczeniami finansowymi.</p>
                <p>Podanie danych osobowych jest dobrowolne, ale może okazać się niezbędne do wykonania usługi.</p>

                <p>Podstawa prawną przekazania Państwa danych osobowych jest odpowiednio:</p>
                <p>*Art. 6 ust. 1 lit. b RODO wskazujący na niezbędność przetwarzania danych w celu wykonania umowy
                    lub podjęcia działań na żądanie osoby, której dane dotyczą przed zawarciem umowy. Np: możemy
                    odpowiadać na Państwa zapytania przesłane drogą elektroniczną lub komunikować się z Państwem
                    telefonicznie celem potwierdzenia lub anulowania rezerwacji.</p>
                <p>*Art. 6 ust. 1 lit. c RODO jeśli przetwarzanie danych jest niezbędne do wypełnienia ciążącego na
                    nas obowiązku prawnego. Np:obowiązki z ustawy o podatku od towarów i usług w zakresie danych
                    osobowych dotyczące informacji, jakie powinny znaleźć się na fakturze. </p>
                <p>*Art. 6 ust. 1 lit. f RODO z którego wynika nasz prawnie uzasadniony interes jako właściciela
                    Firmy CELMARR, który mamy w tym, aby dbać o Państwa bezpieczeństwo i podnosić jakość
                    świadczonych usług.</p>
                <p>*Art. 6 ust. 1 lit. a RODO który mówi o zgodzie na przetwarzanie danych, jeśli konkretne
                    czynności przetwarzania nie mieszczą się w ramach podstaw prawnych, które opisaliśmy powyżej.
                    Ewentualna zgoda, o którą Państwa prosimy może być cofnięta w dowolnej chwili.</p>

                <h4>Okres przetwarzania danych</h4>
                <p>Przetwarzamy Państwa dane osobowe tak długo, jak jest to konieczne do osiągnięcia celów
                    określonych powyżej oraz przez okres wymagany właściwymi przepisami prawa, chyba że osoba,
                    której dane dotyczą złożyła ważny i prawidłowy wniosek o usunięcie swoich danych osobowych.</p>

                <h4>Udostępnianie danych osobowych</h4>
                <p>W związku z wykonywaniem naszych usług, w niektórych sytuacjach, jeśli będzie to konieczne mamy
                    prawo przekazać Państwa dane dalej, mianowicie:</p>
                <p>*osobom przez nas upoważnionym - naszym pracownikom i współpracownikom, którzy muszą mieć dostęp
                    do danych, aby wykonywać należycie swoje obowiązki.</p>
                <p>* podmiotom, z których pomocy i usług korzystamy w zakresie prowadzonej przez nas działalności,
                    np: dostawcom systemów informatycznych i usług internetowych. czy współpracującym z nami biurami
                    rachunkowymi.</p>
                <p>*uprawnionym organom państwowym na mocy obowiązujących przepisów prawa.</p>

                <h4>Przekazywanie danych osobowych do państw trzecich i profilowanie</h4>
                <p>Nie przekazujemy danych osobowych do państw trzecich oraz nie wykonujemy profilowania na
                    podstawie którego mogłyby być podejmowane decyzje wywołujące wobec Państwa skutki prawne lub
                    wpływające na Państwa w podobnie istotny sposób.</p>

                <h4>Prawa osób fizycznych, których dane przetwarzamy</h4>
                <p>Informujemy że w związku z przetwarzaniem danych mają Państwo prawo do dostępu do swoich danych
                    osobowych, sprostowania danych osobowych, usunięcia danych osobowych,ograniczenia przetwarzania
                    danych osobowych, wniesienia sprzeciwu wobec przetwarzania danych osobowych, przenoszenia danych
                    osobowych, cofnięcia ewentualnej zgody na przetwarzanie danych.</p>
                <p>Wymienione wyżej uprawnienia nie mają charakteru absolutnego, dlatego też w niektórych
                    sytuacjach, po dokonaniu analizy, możemy zgodnie z prawem odmówić Państwu ich spełnienia.</p>

                <p>Jeżeli wystąpią Państwo z wnioskiem o wykonanie któregoś z powyższych uprawnień, administrator
                    danych ustosunkuje się do niego niezwłocznie, jednak nie później niż w ciągu miesiąca od dnia
                    otrzymania. Jeżli zadanie będzie skomplikowane albo otrzymamy znaczna liczbę takich żądań i nie
                    będziemy mogli spełnić Państwa żądania w ciągu miesiąca, to spełnimy je w ciągu kolejnych dwóch
                    miesięcy.</p>
                <p>Uprzednio jednak poinformujemy Państwa o ewentualnym przedłużeniu terminu.</p>

                <h4>Prawo do wniesienia skargi</h4>
                <p>Jeżeli uważasz, że dane osobowe są przetwarzane niezgodnie z obowiązującym prawem, możesz wnieść
                    skargę do Prezesa Zarządu Ochrony Danych Osobowych.</p>
            </div>
        </div>
    </div>
</main>